In [36]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import seaborn as sns
import pycountry_convert as pycountry
import plotly.express as px
%matplotlib inline

In [37]:
all_orgs = pd.read_csv("COP2021_orgnames.csv")

In [38]:
all_orgs.head()

                  name entity_type
0              Albania     Parties
1              Algeria     Parties
2              Andorra     Parties
3               Angola     Parties
4  Antigua and Barbuda     Parties

In [39]:
all_orgs.entity_type.unique()

array(['Parties', 'Observer States',
       'United Nations Secretariat units and bodies',
       'Specialized agencies and related organizations',
       'Intergovernmental organizations',
       'Non-governmental organizations'], dtype=object)

In [40]:
NGO = all_orgs[all_orgs.entity_type == 'Non-governmental organizations'].copy()
IGO = all_orgs[all_orgs.entity_type == 'Intergovernmental organizations'].copy()
NGO.reset_index(drop = True, inplace = True)
IGO.reset_index(drop = True, inplace = True)

In [41]:
NGO.head()

                                  name                     entity_type
0                   2050 Climate Group  Non-governmental organizations
1              2° investing initiative  Non-governmental organizations
2  350 the Climate Movement in Denmark  Non-governmental organizations
3                              350.org  Non-governmental organizations
4                A Rocha International  Non-governmental organizations

In [42]:
IGO.head()

,name,entity_type
0,Adaptation Fund Board,Intergovernmental organizations
1,African Centre of Meteorological Application f...,Intergovernmental organizations
2,African Development Bank Group,Intergovernmental organizations
3,African Union Commission,Intergovernmental organizations
4,"African, Caribbean and Pacific of States",Intergovernmental organizations

In [43]:
initial_NGO = len(NGO.name) * [np.nan]
initial_IGO = len(IGO.name) * [np.nan]
NGO["constituency"], NGO["coordinator"], NGO["city"], NGO["country"] = initial_NGO, initial_NGO, initial_NGO, initial_NGO
IGO["constituency"], IGO["coordinator"], IGO["city"], IGO["country"] = initial_IGO, initial_IGO, initial_IGO, initial_IGO

In [44]:
NGO.head()

,name,entity_type,constituency,coordinator,city,country
0,2050 Climate Group,Non-governmental organizations,NaN,NaN,NaN,NaN
1,2° investing initiative,Non-governmental organizations,NaN,NaN,NaN,NaN
2,350 the Climate Movement in Denmark,Non-governmental organizations,NaN,NaN,NaN,NaN
3,350.org,Non-governmental organizations,NaN,NaN,NaN,NaN
4,A Rocha International,Non-governmental organizations,NaN,NaN,NaN,NaN

In [45]:
print(len(NGO.name), len(IGO.name))

1597 75

In [46]:
NGO_unfccc = pd.read_csv("updated_NGOs_UNFCCC.csv")
NGO_unfccc

,Official Name,City,Country,Constituency,Phone,Fax,Email,Coordinator
0,#13 Foundation Climate and Sustainable Develop...,Warsaw,Poland,Constituency - Environmental,NaN,NaN,emil.wroblewski@fundacja13.pl,Mr. Emil Wroblewski
1,10:10 Foundation,London,United Kingdom of Great Britain and Northern I...,Constituency - Environmental,020 7388 6688,NaN,alethea.warrington@wearepossible.org,Ms. Alethea Warrington
2,2° investing initiative (2°ii),Paris,France,Constituency - Research and independent,+33142811997,NaN,diane@2degrees-investing.org,Mr. Thibaut Ghirardi
3,2050 Climate Group,Edinburgh,United Kingdom of Great Britain and Northern I...,Constituency - Youth,+441313132488,NaN,contact@2050.scot,Ms. Sophie Eastwood
4,350 the Climate Movement in Denmark (350 KiD),Copenhagen,Denmark,Constituency - Youth,00 45 22 95 40 47,NaN,kontakt@dgsb.dk,Ms. Esther Michelsen Kjeldahl
...,...,...,...,...,...,...,...,...
2850,Zhenjiang Green Sanshan Environmental Public W...,中国江苏省镇江市,China,Constituency - Environmental,15262994909,NaN,13944696@qq.com,NaN
2851,ZOI Environment Network (ZOI),Geneva,Switzerland,Constituency - Research and independent,(41-22) 917-8342,NaN,enzoi@zoinet.org,Mr. Viktor Novikov
2852,Zonta International CommitteeMs. Megan,"Oak Brook, IL",United States of America,Constituency - Women and Gender,(1-630)928-1400,(1-630)928-1559,zontaintl@zonta.org,M. Radavich
2853,Zoological Society of London (ZSL),London,United Kingdom of Great Britain and Northern I...,Constituency - Research and independent,+44 0344 225 1826,(44-20) 7586-5743,matthew.lowton@zsl.org,Mr. Matthew James Lowton
2854,Zurich University of Applied Sciences (ZHAW),Winterthur,Switzerland,Constituency - Research and independent,NaN,NaN,info@zhaw.ch,Mr. Martin Jaekel

In [47]:
NGO_unfccc.shape

(2855, 8)

In [48]:
IGO_unfccc = pd.read_csv("updated_IGOs_UNFCCC.csv")
IGO_unfccc

,Official Name,City,Country,Phone,Fax,Email,Coordinator
0,Adaptation Fund Board (AFB),Washington DC,United States of America,+1 202 458 7347,+1 202 522 3240,afbsec@adaptation-fund.org,Mr. Mikko Antti Ollikainen
1,African Centre of Meteorological Application f...,Niamey,Niger,(227-20) 72-3627,(227-20) 72-3627,dgacmad@acmad.org,Ms. Safia Alfa
2,African Development Bank Group (AfDB),Tunis,Tunisia,(216) 7110-3900,(216) 7133-5929,ifdd@francophonie.org,Mr. Arona Soumare
3,African Regional Centre for Technology (ARCT),Dakar,Senegal,(221)23-7712,(221)23-7713,arct@sonatel.senet.net,Mr. Ousmane Kane
4,African Union Commission (AUC),Addis Ababa,Ethiopia,(251-115) 51-7700,(251-115) 51-7844,nyambeh@africa-union.org,Mr. Harsen Nyambe Nyambe
...,...,...,...,...,...,...,...
136,The Regional Organization for the Conservation...,Jeddah 21583,Saudi Arabia,(966-2) 657-3224,(966-2) 652-1901,info@persga.org,Mr. Ziad Abu Gararah
137,Union Economique et Monétaire Ouest Africaine ...,Ouagadougou 01,Burkina Faso,(226) 5031-8873,(226) 5031-8872,commission@uemoa.int,Mme Zourata Lompo Née Ouédraogo
138,Union for the Mediterranean (UfM),Barcelona,Spain,+34935214100,NaN,info@ufmsecretariat.org,Ms. Cristina Moral Urra
139,University for Peace (UPEACE),Ciudad Colón,Costa Rica,(506) 2205-9000,NaN,pcarazo@upeace.org,Sra. Maria Pia Carazo Ortiz
140,West African Science service centre on Climate...,Accra,Ghana,+233501529000,NaN,ouedraogo.f@wascal.org,Mr. Moumini Savadogo

In [49]:
IGO_unfccc.shape

(141, 7)

In [50]:
def populate_country_and_coordinator(cop, unfccc, const):
    org_cop = list(cop["name"])
    org_unfccc = list(unfccc["Official Name"])
    for i in range(len(org_cop)):
        org = org_cop[i]
        for j in range(len(org_unfccc)):
            organization = org_unfccc[j]
            if org in organization:
                cop["country"].iloc[i] = unfccc["Country"].iloc[j]
                cop["city"].iloc[i] = unfccc["City"].iloc[j]
                cop["coordinator"].iloc[i] = unfccc["Coordinator"].iloc[j]
                if const:
                    cop["constituency"].iloc[i] = unfccc["Constituency"].iloc[j]
                break

In [51]:
populate_country_and_coordinator(NGO, NGO_unfccc, True)

/Users/stefan/py_38_env/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [52]:
NGO.head(30)

,name,entity_type,constituency,coordinator,city,country
0,2050 Climate Group,Non-governmental organizations,Constituency - Youth,Ms. Sophie Eastwood,Edinburgh,United Kingdom of Great Britain and Northern I...
1,2° investing initiative,Non-governmental organizations,Constituency - Research and independent,Mr. Thibaut Ghirardi,Paris,France
2,350 the Climate Movement in Denmark,Non-governmental organizations,Constituency - Youth,Ms. Esther Michelsen Kjeldahl,Copenhagen,Denmark
3,350.org,Non-governmental organizations,Constituency - Environmental CJN,Ms. Cansin Leylim Ilgaz,Brooklyn,United States of America
4,A Rocha International,Non-governmental organizations,Constituency - Environmental,Mr. Samuel Chiu,London,United Kingdom of Great Britain and Northern I...
5,A Sud Ecology and Cooperation - Onlus,Non-governmental organizations,Constituency - Environmental,Ms. Lucie Greyl,Rome,Italy
6,A Well-Fed World,Non-governmental organizations,Constituency - Environmental,Ms. Dawn Moncrief,"Washington, DC",United States of America
7,Abdullah Bin Hamad Al-Attiyah International Fo...,Non-governmental organizations,Constituency - Research and independent,Mr. John Kilani,Doha,Qatar
8,Abertay University,Non-governmental organizations,Constituency - Research and independent,Ms. Rebecca Wade,Dundee,United Kingdom of Great Britain and Northern I...
9,Abibimman Foundation,Non-governmental organizations,Constituency - Environmental CAN,Mr. Kenneth Nana Amoateng,Tena,Ghana
10,Academy of Science of South Africa,Non-governmental organizations,Constituency - Research and independent,Ms. Susan Veldsman,Pretoria,South Africa
11,ACT Alliance - Action by Churches Together,Non-governmental organizations,Constituency - Environmental CAN,Mr. Thorsten Göbel,Geneva,Switzerland
12,Action des Chrétiens Activistes des Droits de ...,Non-governmental organizations,NaN,NaN,NaN,NaN
13,"Action Group on Erosion, Technology and Concen...",Non-governmental organizations,Constituency - Environmental,Mr. Thomas John Wakeford,Val David,Canada
14,Action pour la taxation des transactions pour ...,Non-governmental organizations,NaN,NaN,NaN,NaN
15,Action pour le Respect et la Protection de l’E...,Non-governmental organizations,NaN,NaN,NaN,NaN
16,Action Solidarité Tiers-Monde a.s.b.l.,Non-governmental organizations,NaN,NaN,NaN,NaN
17,ActionAid International - South Africa,Non-governmental organizations,Constituency - Environmental CAN,Ms. Teresa Maria Isabel Anderson,Johannesburg,South Africa
18,Adelphi Research,Non-governmental organizations,Constituency - Research and independent,Mr. Dennis Taenzler,Berlin,Germany
19,Advocates for International Development,Non-governmental organizations,Constituency - Business and Industry,Ms. Yasmin Batliwala,London,United Kingdom of Great Britain and Northern I...
20,Africa Centre for Citizens Orientation,Non-governmental organizations,Constituency - Environmental,Mr. Peter Olugbenga Adeleye,Kurudu,Nigeria
21,Africa Youths International Development Founda...,Non-governmental organizations,Constituency - Youth,Mr. Tunji John Asaolu,Abuja,Nigeria
22,African Centre for Climate Actions and Rural D...,Non-governmental organizations,Constituency - Environmental,Sr. Prof.Augustine Arukwe,Effurun-Delta State,Nigeria
23,African Climate Change Research Centre,Non-governmental organizations,Constituency - Research and independent,Mr. Nura Jibo,Dutse,Nigeria
24,African Forest Forum,Non-governmental organizations,Constituency - Environmental,Mr. Godwin Kowero,Nairobi,Kenya
25,African Network of Young Leaders for Peace and...,Non-governmental organizations,Constituency - Environmental,Mr. Ismail Joel Eboa Eyoum,Yaoundé,Cameroon
26,African Smart Cities Innovation Foundation,Non-governmental organizations,Constituency - Local government and Municipal ...,Mr. David Olatunji,Utako,Nigeria
27,African Wildlife,Non-governmental organizations,Constituency - Environmental,Mr. Charly Facheux,Nairobi,Kenya
28,Agriconsulting S.p.A.,Non-governmental organizations,Constituency - Business and Industry,Mr. Giorgio Andreoli,Rome,Italy
29,Agricord vzw,Non-governmental organizations,Constituency - Farmers,Ms. Gabriela Quiroga Gilardoni,Brussels,Belgium

In [53]:
NGO.tail(20)

,name,entity_type,constituency,coordinator,city,country
1577,"Wuppertal Institute for Climate, Environment a...",Non-governmental organizations,Constituency - Environmental CAN,Mr. Nicolas Kreibich,Wuppertal,Germany
1578,WWF,Non-governmental organizations,Constituency - Environmental CAN,Mr. Mark Lutes,Gland,Switzerland
1579,Yale Student Environmental Coalition,Non-governmental organizations,Constituency - Environmental,Ms. Katie Lynn Schlick,New Haven,United States of America
1580,Yale University,Non-governmental organizations,Constituency - ENGO,Mr. Donald Filer,New Haven,United States of America
1581,York University,Non-governmental organizations,Constituency - Research and independent,Mr. Richard Bryce Rudyk,New York,United States of America
1582,Young Energy Specialists - Development Coopera...,Non-governmental organizations,Constituency - Youth,Mr. Yanniek Huisman,Utrecht,Netherlands
1583,Young European Leadership,Non-governmental organizations,Constituency - Youth,Mr. Tillmann Heidelk,Brussels,Belgium
1584,Young Power in Social Action,Non-governmental organizations,Constituency - Environmental,Mr. Mohammad Arifur Rahman,Chittagong,Bangladesh
1585,Youth Action Environmental Network Lower Saxony,Non-governmental organizations,Constituency - Youth,Mr. Matthias Paul Nettlau,Hannover,Germany
1586,Youth and Environment Europe,Non-governmental organizations,Constituency - Youth,Mr. Nathan Méténier,Prague,Czechia
1587,Youth Climate Lab,Non-governmental organizations,Constituency - Youth,Ms. Ana Gonzalez Guerrero,Ottawa,Canada
1588,Youth Climate Movement NL,Non-governmental organizations,Constituency - Youth,Ms. Aniek Moonen,Utrecht,Netherlands
1589,Youth Climate Report,Non-governmental organizations,Constituency - Youth,Mr. Mark Terry,Toronto,Canada
1590,Youth for Climate - Germany,Non-governmental organizations,Constituency - Youth,Ms. Pia Jorks,Mülheim an der Ruhr,Germany
1591,Zerofootprint,Non-governmental organizations,Constituency - Environmental,Mr. Ron Dembo,Toronto,Canada
1592,Zhejiang Agriculture and Forestry University,Non-governmental organizations,Constituency - Research and independent,Mr. Lei Wang,Hangzhou,China
1593,ZOI Environment Network,Non-governmental organizations,Constituency - Research and independent,Mr. Viktor Novikov,Geneva,Switzerland
1594,Zonta International Committee,Non-governmental organizations,Constituency - Women and Gender,M. Radavich,"Oak Brook, IL",United States of America
1595,Zoological Society of London,Non-governmental organizations,Constituency - Research and independent,Mr. Matthew James Lowton,London,United Kingdom of Great Britain and Northern I...
1596,Zurich University of Applied Sciences,Non-governmental organizations,Constituency - Research and independent,Mr. Martin Jaekel,Winterthur,Switzerland

In [54]:
NGO.country.isnull().sum()

91

In [64]:
NGO.shape

(1597, 6)

In [ ]:
# initially 491

In [55]:
NGO.to_csv("NGOs_COP2021_uncleaned.csv", index = False)

In [56]:
populate_country_and_coordinator(IGO, IGO_unfccc, False)

/Users/stefan/py_38_env/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [57]:
IGO.head()

,name,entity_type,constituency,coordinator,city,country
0,Adaptation Fund Board,Intergovernmental organizations,NaN,Mr. Mikko Antti Ollikainen,Washington DC,United States of America
1,African Centre of Meteorological Application f...,Intergovernmental organizations,NaN,Ms. Safia Alfa,Niamey,Niger
2,African Development Bank Group,Intergovernmental organizations,NaN,Mr. Arona Soumare,Tunis,Tunisia
3,African Union Commission,Intergovernmental organizations,NaN,Mr. Harsen Nyambe Nyambe,Addis Ababa,Ethiopia
4,"African, Caribbean and Pacific of States",Intergovernmental organizations,NaN,Ms. Cristelle Pratt,Brussels,Belgium

In [58]:
IGO.country.isnull().sum()

3

In [59]:
IGO.drop(columns=["constituency"], inplace = True, axis = 1)

In [60]:
IGO.head(20)

,name,entity_type,coordinator,city,country
0,Adaptation Fund Board,Intergovernmental organizations,Mr. Mikko Antti Ollikainen,Washington DC,United States of America
1,African Centre of Meteorological Application f...,Intergovernmental organizations,Ms. Safia Alfa,Niamey,Niger
2,African Development Bank Group,Intergovernmental organizations,Mr. Arona Soumare,Tunis,Tunisia
3,African Union Commission,Intergovernmental organizations,Mr. Harsen Nyambe Nyambe,Addis Ababa,Ethiopia
4,"African, Caribbean and Pacific of States",Intergovernmental organizations,Ms. Cristelle Pratt,Brussels,Belgium
5,Asian Development Bank,Intergovernmental organizations,Ms. Esmyra Javier,Mandaluyong City,Philippines
6,Asian Infrastructure Investment Bank,Intergovernmental organizations,Mr. Xing Zhang,Beijing,China
7,Autorité de développement intégré de la région...,Intergovernmental organizations,M. Donseg Salvador Aristide Somda,Ouagadougou 1,Burkina Faso
8,CAB International,Intergovernmental organizations,Mr. Jonathan Casey,Oxon,United Kingdom of Great Britain and Northern I...
9,Caribbean Community Climate Change Centre,Intergovernmental organizations,Ms. Ethlyn Valladares,Belmopan,Belize
10,Caribbean Community Secretariat,Intergovernmental organizations,Ms. Patricia Ann Nelson,Georgetown,Guyana
11,Center for International Forestry Research,Intergovernmental organizations,Mr. Christopher Martius,Bogor,Indonesia
12,Centre for Environment & Development for Arab ...,Intergovernmental organizations,Ms. Mayar Sabet,Cairo,Egypt
13,CGIAR System Organization,Intergovernmental organizations,Mr. André Zandstra,Montpellier,France
14,Comité permanent inter-états de lutte contre l...,Intergovernmental organizations,Mr. Philippe Zoungrana,Ouagadougou 03,Burkina Faso
15,Commission des Forêts d’Afrique Centrale,Intergovernmental organizations,NaN,NaN,NaN
16,Commission for Environmental Cooperation,Intergovernmental organizations,Ms. Nathalie Daoust,Montreal,Canada
17,Commonwealth Foundation,Intergovernmental organizations,Ms. Anne Therese Gallagher,London,United Kingdom of Great Britain and Northern I...
18,Commonwealth Secretariat,Intergovernmental organizations,Mr. Unnikrishnan Divakaran Nair,London,United Kingdom of Great Britain and Northern I...
19,Convention on Wetlands of International Import...,Intergovernmental organizations,Ms. Delphine Bremond,Gland,Switzerland

In [61]:
IGO.to_csv("IGOs_COP2021_uncleaned.csv", index = False)

In [62]:
NGO.constituency.unique()

array(['Constituency - Youth', 'Constituency - Research and independent',
       'Constituency - Environmental CJN', 'Constituency - Environmental',
       'Constituency - Environmental CAN', nan,
       'Constituency - Business and Industry',
       'Constituency - Local government and Municipal authorities',
       'Constituency - Farmers', 'Constituency - Women and Gender',
       'Constituency - ENGO', 'Constituency - Indigenous peoples',
       'Constituency - Trade Unions'], dtype=object)

In [63]:
len(NGO.constituency.unique())

13

# After Manual Data Cleaning - Calculating Country, City and Constituency Statistics

## 1. NGOs

In [65]:
NGO = pd.read_csv("NGOs_COP2021_complete.csv")

In [66]:
NGO

,name,entity_type,constituency,coordinator,city,country,remarks
0,2050 Climate Group,Non-governmental organizations,Constituency - Youth,Ms. Sophie Eastwood,Edinburgh,United Kingdom of Great Britain and Northern I...,NaN
1,2° investing initiative,Non-governmental organizations,Constituency - Research and independent,Mr. Thibaut Ghirardi,Paris,France,NaN
2,350 the Climate Movement in Denmark,Non-governmental organizations,Constituency - Youth,Ms. Esther Michelsen Kjeldahl,Copenhagen,Denmark,NaN
3,350.org,Non-governmental organizations,Constituency - Environmental CJN,Ms. Cansin Leylim Ilgaz,Brooklyn,United States of America,NaN
4,A Rocha International,Non-governmental organizations,Constituency - Environmental,Mr. Samuel Chiu,London,United Kingdom of Great Britain and Northern I...,NaN
...,...,...,...,...,...,...,...
1592,Zhejiang Agriculture and Forestry University,Non-governmental organizations,Constituency - Research and independent,Mr. Lei Wang,Hangzhou,China,NaN
1593,ZOI Environment Network,Non-governmental organizations,Constituency - Research and independent,Mr. Viktor Novikov,Geneva,Switzerland,NaN
1594,Zonta International Committee,Non-governmental organizations,Constituency - Women and Gender,M. Radavich,"Oak Brook, IL",United States of America,NaN
1595,Zoological Society of London,Non-governmental organizations,Constituency - Research and independent,Mr. Matthew James Lowton,London,United Kingdom of Great Britain and Northern I...,NaN
1596,Zurich University of Applied Sciences,Non-governmental organizations,Constituency - Research and independent,Mr. Martin Jaekel,Winterthur,Switzerland,NaN

In [67]:
# count = 1597 is on par with the official statistics

### 1.1 NGO Country Statistics

In [68]:
NGO_country_stats = pd.DataFrame(NGO.country.value_counts())
NGO_country_stats.reset_index(level=0, inplace=True)
NGO_country_stats.columns = ["Country", "Count"]

In [69]:
NGO_country_stats

                                              Country  Count
0                            United States of America    362
1   United Kingdom of Great Britain and Northern I...    285
2                                             Germany     91
3                                              France     85
4                                              Canada     66
..                                                ...    ...
84                                      Côte d'Ivoire      1
85                                            Tunisia      1
86                                              Egypt      1
87                                 Dominican Republic      1
88                                           Holy See      1

[89 rows x 2 columns]

In [70]:
NGO_country_stats.to_csv("2021_NGO_country_stats.csv")

### 1.2 NGO City Statistics

In [71]:
NGO_city_stats = pd.DataFrame(NGO.city.value_counts())
NGO_city_stats.reset_index(level=0, inplace=True)
NGO_city_stats.columns = ["City", "Count"]

In [72]:
NGO_city_stats.head(20)

             City  Count
0          London    138
1      Washington     59
2        Brussels     51
3           Paris     49
4        New York     38
5          Berlin     28
6          Geneva     20
7           Tokyo     17
8       New Delhi     14
9          Ottawa     14
10  San Francisco     13
11          Dhaka     13
12      Edinburgh     13
13        Beijing     12
14      Amsterdam     12
15           Bonn     12
16          Seoul     11
17      Cambridge     11
18       Montréal     10
19        Nairobi     10

In [73]:
NGO_city_stats.to_csv("2021_NGO_city_stats.csv", index = False)

### 1.3 Data Visualizations (barcharts) for Country and City Statistics (NGO)

In [74]:
# plt.figure(figsize=(20,10))
# plt.subplot(1, 2, 1)
# plt.gca().invert_yaxis()
# plt.barh(NGO_country_stats.Country[0:19], NGO_country_stats.Count[0:19], color = ["green"])
# plt.title("COP2015 NGO Country Statistics \n(first 20 most common countries)")
# plt.xlabel("Number of Organizations")
# plt.xticks(np.arange(0, 250, 20))

# plt.subplot(1, 2, 2)
# plt.gca().invert_yaxis()
# plt.barh(NGO_city_stats.City[0:19], NGO_city_stats.Count[0:19], color = ["blue"])
# plt.title("COP2015 NGO City Statistics \n(first 20 most common cities)")
# plt.xlabel("Number of Organizations")
# plt.xticks(np.arange(0, 50, 5))
# plt.savefig("COP2015_NGO_country_city_stats.png", facecolor = "white", dpi = 400)

### 1.4 NGO Constituency Statistics

In [75]:
NGO.constituency.unique()

array(['Constituency - Youth', 'Constituency - Research and independent',
       'Constituency - Environmental CJN', 'Constituency - Environmental',
       'Constituency - Environmental CAN',
       'Constituency - Business and Industry',
       'Constituency - Local government and Municipal authorities',
       'Constituency - Farmers', 'Constituency - Women and Gender', nan,
       'Constituency - ENGO', 'Constituency - Indigenous peoples',
       'Constituency - Trade Unions'], dtype=object)

In [76]:
NGO["constituency"] = NGO["constituency"].replace(np.nan, "not yet affiliated/no data")

In [77]:
NGO.constituency.unique()

array(['Constituency - Youth', 'Constituency - Research and independent',
       'Constituency - Environmental CJN', 'Constituency - Environmental',
       'Constituency - Environmental CAN',
       'Constituency - Business and Industry',
       'Constituency - Local government and Municipal authorities',
       'Constituency - Farmers', 'Constituency - Women and Gender',
       'not yet affiliated/no data', 'Constituency - ENGO',
       'Constituency - Indigenous peoples', 'Constituency - Trade Unions'],
      dtype=object)

In [78]:
NGO_constituency_stats = pd.DataFrame(NGO.constituency.value_counts())
NGO_constituency_stats.reset_index(level=0, inplace=True)
NGO_constituency_stats.columns = ["Constituency", "Count"]

In [79]:
NGO_constituency_stats

                                         Constituency  Count
0                        Constituency - Environmental    558
1             Constituency - Research and independent    434
2                Constituency - Business and Industry    186
3                    Constituency - Environmental CAN    118
4                                Constituency - Youth     89
5                   Constituency - Indigenous peoples     47
6   Constituency - Local government and Municipal ...     36
7                     Constituency - Women and Gender     32
8                          not yet affiliated/no data     28
9                                 Constituency - ENGO     24
10                             Constituency - Farmers     19
11                   Constituency - Environmental CJN     16
12                        Constituency - Trade Unions     10

### 1.4.1 Piechart

In [80]:
# plt.figure(figsize=(20,10))
# plt.pie(NGO_constituency_stats.Count,labels=NGO_constituency_stats.Constituency,
#         autopct='%1.1f%%',
#         startangle = 0.06,
#         pctdistance = 0.8)
# plt.title("Piechart of Constituency Distribution for NGOs \n(COP2015, n = 1078)")
# plt.savefig("2015_NGO_constituency_piechart.png", facecolor = "white")

### 1.4.2 Barchart

In [81]:
# plt.figure(figsize = (20, 10))
# sns.barplot(y = new_const,
#            x = NGO_constituency_stats.Count,
#            orient='h',
#            color = "blue")
# plt.xticks(np.arange(0, 350, 25))
# plt.title("Barchart of Constituency Distribution for NGOs \n(COP2019)")
# plt.savefig("NGO_constituency_barchart.png", facecolor = "white")

### 1.4.3 Map

In [82]:
def country_name_to_country_alpha3_(country):
    """
    Returns the ISO3 of the country.
    Args: country (str)
    Output: iso3 (str)
    """
    try:
        iso3 = pycountry.country_name_to_country_alpha3(country)
    except:
        iso3 = ""
    return iso3

NGO_country_stats["ISO3"] = [country_name_to_country_alpha3_(country) for country in list(NGO_country_stats.Country)]

In [83]:
NGO_country_stats[NGO_country_stats.ISO3==""]

                             Country  Count ISO3
21                 Republic of Korea     13
56  Bolivia (Plurinational State of)      2
88                          Holy See      1

It seems that 3 countries were not identified by the `country_name_to_alpha3` function. These are:
* Republic of Korea
* Bolivia
* Holy See

We will manually compute the ISO3 for these countries as follows:

In [84]:
NGO_country_stats.loc[[21, 56, 88], "ISO3"] = ["KOR", "BOL", "VAT"]

In [85]:
NGO_country_stats.tail(10)

               Country  Count ISO3
79            Thailand      1  THA
80             Senegal      1  SEN
81          Madagascar      1  MDG
82            Paraguay      1  PRY
83           Indonesia      1  IDN
84       Côte d'Ivoire      1  CIV
85             Tunisia      1  TUN
86               Egypt      1  EGY
87  Dominican Republic      1  DOM
88            Holy See      1  VAT

In [86]:
NGO_country_stats.to_csv("2021_NGO_country_stats.csv")

In [87]:
NGO_city_stats.to_csv("2021_NGO_city_stats.csv")

In [88]:
# fig = px.choropleth(NGO_country_stats, 
#                     locations="ISO3",
#                     color="Count", 
#                     hover_name="Country", # column to add to hover information
#                     color_continuous_scale="reds",
#                     title = "Color-Coded Map of the Country of Origin of NGOs participating at COP2015",
#                     projection = "natural earth",
#                     range_color = [0, 250])

# fig.write_html("Color-Coded Map of the Country of Origin of NGOs participating at COP2015.html")
# fig.show()

## 2. IGOs

In [90]:
IGO = pd.read_csv("IGOs_COP2021_complete.csv")
IGO

,name,entity_type,coordinator,city,country
0,Adaptation Fund Board,Intergovernmental organizations,Mr. Mikko Antti Ollikainen,Washington DC,United States of America
1,African Centre of Meteorological Application f...,Intergovernmental organizations,Ms. Safia Alfa,Niamey,Niger
2,African Development Bank Group,Intergovernmental organizations,Mr. Arona Soumare,Tunis,Tunisia
3,African Union Commission,Intergovernmental organizations,Mr. Harsen Nyambe Nyambe,Addis Ababa,Ethiopia
4,"African, Caribbean and Pacific of States",Intergovernmental organizations,Ms. Cristelle Pratt,Brussels,Belgium
...,...,...,...,...,...
70,Pacific Islands Forum Secretariat,Intergovernmental organizations,Mr. Exsley Taloiburi,Suva,Fiji
71,Parliamentary Assembly of the Mediterranean,Intergovernmental organizations,Mr. Giuseppe Belsito,San Marino,San Marino
72,Regional Community Forestry Training Center fo...,Intergovernmental organizations,Mr. Ronnakorn Triraganon,Bangkok,Thailand
73,South Asia Co-operative Environment Programme,Intergovernmental organizations,Ms. Jacintha Silverine Tissera,COLOMBO 05,Sri Lanka
74,Union for the Mediterranean,Intergovernmental organizations,Ms. Cristina Moral Urra,Barcelona,Spain

In [91]:
# count = 75, which matches with official count

### 2.1 Country Statistics

In [92]:
IGO_country_stats = pd.DataFrame(IGO.country.value_counts())
IGO_country_stats.reset_index(level=0, inplace=True)
IGO_country_stats.columns = ["Country", "Count"]

In [93]:
IGO_country_stats.head()

                                             Country  Count
0                                             France      9
1                                            Finland      6
2                                        Switzerland      4
3  United Kingdom of Great Britain and Northern I...      4
4                                              Kenya      3

In [94]:
IGO_country_stats.to_csv("2021_IGO_country_stats.csv")

### 2.2 City Statistics

In [95]:
IGO_city_stats = pd.DataFrame(IGO.city.value_counts())
IGO_city_stats.reset_index(level=0, inplace=True)
IGO_city_stats.columns = ["City", "Count"]

In [96]:
IGO_city_stats.head()

       City  Count
0     Paris      6
1  Helsinki      4
2    London      3
3   Nairobi      3
4   Beijing      2

In [97]:
IGO_city_stats.to_csv("2021_IGO_city_stats.csv", index = False)

### 2.3 Data Visualizations (barcharts) for Country and City Statistics (IGO)

In [98]:
# plt.figure(figsize=(20,10))
# plt.subplot(1, 2, 1)
# plt.gca().invert_yaxis()
# plt.barh(IGO_country_stats.Country[0:19], IGO_country_stats.Count[0:19], color = ["red"])
# plt.title("COP2015 IGO Country Statistics \n(first 20 most common countries)")
# plt.xlabel("Number of Organizations")
# plt.xticks(np.arange(0,7,1))

# plt.subplot(1, 2, 2)
# plt.gca().invert_yaxis()
# plt.barh(IGO_city_stats.City[0:19], IGO_city_stats.Count[0:19], color = ["purple"])
# plt.title("COP2015 IGO City Statistics \n(first 20 most common cities)")
# plt.xlabel("Number of Organizations")
# plt.xticks(np.arange(0,5,1))
# plt.savefig("COP2015_IGO_country_city_stats.png", facecolor = "white")

### Country Map

In [99]:
IGO_country_stats["ISO3"] = [country_name_to_country_alpha3_(country) for country in list(IGO_country_stats.Country)]

In [100]:
IGO_country_stats[IGO_country_stats.ISO3==""]

                               Country  Count ISO3
27  Venezuela (Bolivarian Republic of)      1
33                   Republic of Korea      1

It seems that 2 countries were not identified by the `country_name_to_alpha3` function. These are:

* Venezuela
* Republic of Korea

We will manually compute the ISO3 for these countries as follows:

In [101]:
IGO_country_stats.loc[[27, 33], "ISO3"] = ["VEN", "KOR"]

In [102]:
IGO_country_stats.tail()

                        Country  Count ISO3
40                         Fiji      1  FJI
41                     Cameroon      1  CMR
42                        India      1  IND
43  United Republic of Tanzania      1  TZA
44                        Niger      1  NER

In [103]:
IGO_country_stats.to_csv("2021_IGO_country_stats.csv")

In [104]:
IGO_city_stats.to_csv("2021_IGO_city_stats.csv")

In [105]:
# fig = px.choropleth(IGO_country_stats, 
#                     locations="ISO3",
#                     color="Count", 
#                     hover_name="Country", # column to add to hover information
#                     color_continuous_scale="greens",
#                     title = "Color-Coded Map of the Country of Origin of IGOs participating at COP2015",
#                     projection = "natural earth")

# fig.write_html("Color-Coded Map of the Country of Origin of IGOs participating at COP2015.html")
# fig.show()